*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body{
    background-color: black;
    color: #fff;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    z-index: 99;
    max-width: 1200px;
    width: 100%;
}
@media (max-width:1092px) {
  .header .btn,
  .header .login{
    display: none;
  }
  .header .toggle_btn{
    display: block;
  }
}
h1{
    font-size: 22px;
    background-color: #000;
    color:aquamarine;
    border-radius: 100px;
    width: 100px;
    padding-left: 10px;
    padding-top:6px;
    padding-bottom:6px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
h1:hover{
    color:#000;
    background-color: aquamarine;
}
.header-section{
    background-color: transparent;
    color:rgb(218, 218, 218);
    font-size: 18px;
    font-weight: bold;
    padding: 10px 30px;
    display: grid;
    grid-template-columns: 1fr auto auto  auto auto auto;
    align-items: center;
    gap:4%;
    width: 90%;
    position: fixed;
    top:5px;
    border-radius: 7px;
    letter-spacing: 1px;
}
.btn{
    cursor: pointer;
}
.btn:hover{
    color: rgb(177, 255, 229);
    letter-spacing: 1.5px;
}
.login{
    background-color: #339af0;
    color: #fff;
    padding:5px 10px;
    border-radius: 7px;
    font-weight: normal;
    letter-spacing: 1px;
    cursor: pointer;
}
h2{
    position: absolute;
    margin-top: 240px;
    margin-left:30%;
    padding-bottom: 20px;
    font-size: 30px;
}
.title-heading p{
    position: absolute;
    margin-top: 300px;
    margin-left: 7%;
    font-size: 18px;
    letter-spacing: 1px;
}
.title-heading{
    color: rgb(231, 252, 245);
    
}
.section-edit{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url("pexels-pixabay-316093.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center center;
    height: 100vh;
    width: auto;
    margin-top: 30px;
    background-color: rgba(0, 0, 0, 1); 
    
}

.title-heading button{
    background-color: #339af0;
}

.hPNPOv {
    appearance: none;
    top: 400px;
    right:600px;
    cursor: pointer;
    position: absolute;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    row-gap: 8px;
    column-gap: 8px;
    white-space: nowrap;
    /* -webkit-user-select: none; */
    text-decoration: none;
    flex-shrink: 0;
    color: inherit;
    font-style: inherit;
    font-variant-caps: inherit;
    font-stretch: inherit;
    line-height: inherit;
    font-family: inherit;
    font-size-adjust: inherit;
    font-kerning: inherit;
    font-variant-alternates: inherit;
    font-variant-ligatures: inherit;
    font-variant-numeric: inherit;
    font-variant-east-asian: inherit;
    font-feature-settings: inherit;
    font-optical-sizing: inherit;
    font-variation-settings: inherit;
    font-weight: 500;
    transition-duration: 120ms;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: border, background-color, color, box-shadow, opacity;
    font-size: 16px;
    height: 48px;
    border-radius: 30px;
    padding-top: 0px;
    padding-right: 24px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    background-image: linear-gradient(92.88deg, rgb(69, 94, 181) 9.16%, rgb(86, 67, 204) 43.89%, rgb(103, 63, 215) 64.72%);
    text-shadow: rgba(0, 0, 0, 0.25) 0px 3px 8px;
    color: #fff;
    padding-left: 20px;
    margin-top: 20px;
}
.icon-getstarted{
    stroke: #fff;
}
.login-sec{
    display: flex;
    gap:20%;
}
.login-sec p {
    color:rgb(161, 161, 161);
    letter-spacing: 2px;
}
.login-sec h3{
    font-size: 22px;
}
.login-sec{
    margin-left: 15%;
    margin-bottom: 10px;
    letter-spacing: 1px;
}
.-log{
    background-color: rgb(22, 22, 22);
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 20px 20px;
    border-radius: 14px;
    box-shadow: rgba(147, 147, 147, 0.5) 0px 5px 10px;
}
.-log:hover{
    box-shadow: rgba(55, 55, 55, 0.5) 1px 5px 10px;
    cursor: pointer;
}
.features-sec{
    margin-top: 100px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap:10px;
    margin-bottom: 1000px;
    align-items: center;
    justify-content: center;
    filter: none;
}
.features-sec div{
    background-color: rgb(43, 43, 43);
    padding:30px 30px;
    width:70%;
    margin-left: 40px;
    border-radius: 10px;
    box-shadow: rgba(147, 147, 147, 0.5) 0px 5px 10px;
}
.features-sec div h4{
    margin-bottom: 50px;
    font-size: 22px;
}
.features-sec div p{
    margin-bottom: 30px;
    letter-spacing: 1px;
    color: rgb(175, 175, 175);
    line-height: 30px;
}
.get-started-btn:hover{
    box-shadow: rgba(255, 255, 255, 0.5) 0px 5px 20px;;
}
.for-form-parent{
  display: none;
}
.for-form-admin{
  display: none;
}
.for-form{
    display: none;
}
.login-form-admin{
  width: 500px;
  margin-left: 140px;
}
.login-form-parent{
  width: 500px;
  margin-left: 140px;
}
.cancelparenticon:hover{
  cursor: pointer;
}
.canceladminicon:hover{
  cursor: pointer;
}
.cancel-icon:hover{
  cursor: pointer;
  color: #fff;

}
.forms{
    position: absolute;
    top:90%;
    left:3%;
    background-color: rgb(33, 33, 33);
    width:30%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30%;
    padding-right: 130px;
    padding-top: 20px;
    padding-bottom: 30px;
    border-radius: 10px;
}

.form-content .login-form,
.form-content .signup-form{
  width: calc(100% / 2 - 25px);
  width: 140%;
}
.forms .form-content .title{
  position: relative;
  font-size: 24px;
  font-weight: 500;
  color: #fff;
}
.forms .form-content .title:before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 25px;
  background: #200346;
}
.forms .signup-form  .title:before{
  width: 20px;
}
.forms .form-content .input-boxes{
  margin-top: 30px;
}
.forms .form-content .input-box{
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  position: relative;
}
.form-content .input-box input{
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  padding: 0 30px;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s ease;
  background-color: rgb(66, 66, 66);
  color: #fff;
  border-radius: 10px;  
}
.form-content .input-box input:focus,
.form-content .input-box input:valid{
  border-color: #7d2ae8;
}
.form-content .input-box i{
  position: absolute;
  color: #7d2ae8;
  font-size: 17px;
}
.forms .form-content .text{
  font-size: 14px;
  font-weight: 500;
  color: #333;
}
.forms .form-content .text a{
  text-decoration: none;
}
.forms .form-content .text a:hover{
  text-decoration: underline;
}
.forms .form-content .button{
  color: #fff;
  margin-top: 40px;
}
.forms .form-content .button input{
  color: #fff;
  background: #7d2ae8;
  border-radius: 6px;
  padding: 0;
  cursor: pointer;
  transition: all 0.4s ease;
}
.forms .form-content .button input:hover{
  background: #5b13b9;
}
.forms .form-content label{
  color: #5b13b9;
  cursor: pointer;
}
.forms .form-content label:hover{
  text-decoration: underline;
}
.forms .form-content .login-text,
.forms .form-content .sign-up-text{
  text-align: center;
  margin-top: 25px;
  color: #fff;
}
.container #flip{
  display: none;
}
@media (max-width: 730px) {
  .container .cover{
    display: none;
  }
  .form-content .login-form,
  .form-content .signup-form{
    width: 100%;
  }
  .form-content .signup-form{
    display: none;
  }
  .container #flip:checked ~ .forms .signup-form{
    display: block;
  }

}
.main-section{
  margin-top: 6%;
}
.side-nav{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap:20px;
  background-color: rgb(37, 37, 37);
  padding-top: 20px;
  padding-bottom: 60vh;
  position: fixed;
  width: 25%;
}
.side-nav div{
  /* background-color: rgb(62, 62, 62); */
  padding: 8px 8px;
  border-radius: 6px;
  width:10rem;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
}
.side-nav div:hover{
  cursor: pointer;
  background-color: #fff;
  color: #000;

}

.main-section div{
  display: flex;
  align-items: center;
  justify-content: center;
}
#see-more{
  color: #35a4ff;
}

.detail-section{
  background-color: #333;
  position: fixed;
  right:0px;
  height: 100vh;
  top:12%;
  width: 25%;
}

.post-img img{
  height: 300px;
  width: 49%;
  border: 1px solid #35a4ff;
}
.posts{
  display: flex;
  flex-direction: column;
  gap:20px
}
.heading-query{
  width: 80%;
}